body {
  font-family: sans-serif;
  text-align: center;
  background-color: #0cb14b
}

#controls {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

input[type=text] {
  border: 2px solid #425795;
  border-radius: 4px;
  width: 500px;
  height: 250px;
  box-sizing: border-box;
  font-size: 40px;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

h3, h2, h1
{
  color: #ffffff;
}

p {
  text-align: left;
  margin: 35px;
}

#forward {
  background-color: green;
}

#backward {
  background-color: orange;
}

#left {
  background-color: blue;
}

#right {
  background-color: red;
}
